@import "_reset";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

$bmg1-text-color: #333333;
$bmg2-text-color: #000000;
$bmg1-color: #EBEBEB;
$bmg2-color: #FFF;
$bmg3-color: #D3D3D3;

@mixin bgm1 ($color, $background-color) {
    color: $bmg1-text-color;

    background-color: $bmg1-color;
}

@mixin bgm2 ($color, $background-color) {
    color: $bmg2-text-color;

    background-color: $bmg2-color;
}


@mixin borders ($border-radius) {
    border-radius: 5px;
}

@mixin text-under-image ($font-size, $color, $line-height, $text-align) {
    font-size: 12px;

    color: #00000080;

    line-height: 21px;
    text-align: center;
}

@mixin size ($width, $height) {
    width: $width;
    height: $height;
}

@mixin dropshadow ($filter, $border-radius) {
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.2));
    border-radius: 3px;
}

@mixin card {
    background: #FFFFFF;
    max-width: 344px;
    min-height: 296px;
    border-radius: 5px;
}

:root {
    --container-width: 1152px;
    --container-padding: 25px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.none {
    display: none;
}

.container {
    max-width: var(--container-width);
    padding: 0 var(--container-padding);
    margin: 0 auto;
}



/* menu_up */

.menu {
    background-color: #6B6B6B;

    .container_menu {

        padding-top: 25px;

        display: flex;
        flex-wrap: wrap;

        align-items: center;
        justify-content: space-between;


        .menu__logo:hover {
            filter: drop-shadow(0px 0px 5px #ffffff1c);
        }

        .menu__nav {
            display: flex;

            align-items: center;
            column-gap: 40px;

            font-size: 13px;

            .menu__item {
                color: #FFF;
            }

            .menu__item:hover {
                text-shadow: #3d3d3d 0 0 5px;
            }
        }

        .menu__burger {
            display: none;
        }

    }
}

.menu_up {
    min-height: 70px;
}

/* section 1 */


.section1 {
    @include bgm1(-color, -background-color);

    min-height: 500px;

    .container_section1 {
        padding-top: 67px;

        .section1__content {
            margin-right: 110px;

            display: flex;
            justify-content: space-between;

            flex-wrap: wrap;
            row-gap: 55px;

            .section1__content-left {
                padding-top: 98px;
            }

            .section1__content-left-title {
                margin-bottom: 11px;

                font-size: 39px;
                line-height: 36px;
            }

            .section1__content-left-subtitle {
                margin-bottom: 30px;

                font-size: 17px;
            }

            .section1__content-left-button {
                font-size: 14px;
                line-height: 20px;

                padding: 15px 25px 15px 25px;

                color: #000;

                height: 50px;

                background-color: #FFFFFF;
                @include borders(-radius)
            }

            .section1__content-left-button:hover {
                filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.055));
            }
        }

        .section1__content-right {
            position: relative;

            .section1__content-right-image {
                position: absolute;
                right: 24px;

                @include dropshadow(-filter, -border-radius);

                @include size(239px, 294px)
            }

            .section1__content-right-text-under-image {
                padding-top: 317px;

                @include text-under-image(-size, -color, -height, -align)
            }
        }
    }
}

/* brands */

.brands {
    min-height: 152px;

    background-color: $bmg3-color;

    .container_brands {
        padding-top: 52px;

        .brands__row {
            display: flex;
            flex-wrap: wrap;

            justify-content: center;
            align-items: center;

            column-gap: 41px;
            row-gap: 35px;
        }
    }

}

/* section2 */

.title {
    font-size: 31px;
    line-height: 36px;
}

.section2 {
    @include bgm2(-color, -background-color);

    min-height: 660px;

    .section2__content-up {
        padding-top: 50px;
        margin-right: 140px;

        display: flex;
        justify-content: space-between;

        flex-wrap: wrap;
        row-gap: 55px;       

        .section2__content-up-text {
            padding-top: 116px;

            .section2__content-up-title {
                margin-bottom: 14px;
            }

            .section2__content-up-subtitle {
                max-width: 509px;

                font-size: 15px;
            }
        }

        .section2__content-up-image {

            .section2__content-up-image-item {
                @include size(240px, 260px);

                @include dropshadow(-filter, -border-radius)
            }

            .section2__content-up-image-text {
                padding-top: 20px;

                @include text-under-image(-size, -color, -height, -align)
            }
        }
    }

    .section2__content-down {
        padding-top: 26px;

        display: flex;
        justify-content: space-between;

        flex-wrap: wrap-reverse;
        row-gap: 55px;

        .section2__content-down-text {
            text-align: start;

            padding-top: 53px;

            position: relative;

            .section2__content-down-text-subtitle {
                padding-top: 14px;

                max-width: 520px;

                font-size: 15px;

                span {
                    font-size: 11px;
                    line-height: 24px;

                    font-family: Arial, Helvetica, sans-serif;

                    color: #FFF;

                    padding: 3px 5px 3px 5px;
                    background: #3B79C3;
                    border-radius: 2px;
                }
            }

        }
        
        .section2__content-down-image {

            @include dropshadow(-filter, -border-radius);

            text-align: center;


        }
        
        .section2__content-down-item {
            padding-top: 20px;

            @include text-under-image(-size, -color, -height, -align)
        }

    }
}

/* Layout tips */

.layout {
    @include bgm1(-color, -background-color);

    min-height: 806px;

    .container_layout {
        padding-top: 89px;

        .layout__content {

            .layout__content_up {
                text-align: center;

                .layout__content_up-subtitle {
                    padding-top: 11px;

                    font-size: 15px;
                }

                .layout__content_up-image {
                    padding-top: 40px;

                    @include dropshadow(-filter, -border-radius)
                }

                .layout__content_up-text-under-image {
                    padding-top: 20px;

                    @include text-under-image(-size, -color, -height, -align)
                }
            }

            .layout__content_down {
                padding-top: 50px;
                
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                column-gap: 30px;
                row-gap: 55px;

                .layout__content_down-card {
                    @include card();

                    text-align: center;

                    font-size: 18px;

                    @include dropshadow(-filter, -border-radius);

                    .layout__content_down-card-title {
                        padding-top: 30px;
                    }
                    .layout__content_down-card-image {
                        padding-top: 31px;
                    }
                    .layout__content_down-card-text-item {
                        font-size: 13px;

                        padding: 27px 69px 31px 69px;
                        

                        span {
                            font-size: 11px;
                            line-height: 24px;
        
                            font-family: Arial, Helvetica, sans-serif;
        
                            color: #FFF;
        
                            padding: 3px 5px 3px 5px;
                            background: #3B79C3;
                            border-radius: 2px;
                        }
                    }

                    .layout__content_down-card-text-item-second {
                        padding: 27px 51px 34px 51px;
                    }

                    .layout__content_down-card-text-item-third {
                        padding: 27px 40px 50px 40px;
                        i {
                            font-weight: 300;
                        }
                    }

                }
            }
        }
    }
}

/* additional tips */

.additional {
    @include bgm2(-color, -background-color);

    min-height: 589px;

    .container_additional {
        padding-top: 80px;

        .additional__content-cards {
            padding-top: 41px;

            display: flex;
            flex-wrap: wrap;

            justify-content: center;

            column-gap: 30px;
            row-gap: 55px;

            .additional__content-cards-item-image {
                @include dropshadow(-filter, -border-radius)
            }

            .additional__content-cards-item-title {
                padding-top: 30px;
                
                font-size: 18px;
            }
            .additional__content-cards-item-subtitle {
                padding-top: 13px;

                max-width: 258px;
                
                font-size: 15px;
                line-height: 24px;
            }

            .additional__content-cards-item-subtitle-third {
                max-width: 246px;
            }
        }
    }
}

/* menu down */ 

.menu_down {
    min-height: 100px;

    .container_menu_down {
        padding-top: 40px;
    }
}

/* basement */ 

.basement {
    background-color: #111111;

    min-height: 50px;
    
    .basement__content {
        padding-top: 15px;

        .basement__content-credits {
            font-size: 12px;
    
            color: #777777;
        }

    }

}


/* media */

@media (max-width: 1152px) {
    .section1 { 
        .container_section1 {
            .section1__content {
                margin-right: 0px;
            }
        }
    }     
    .section2 {
        .section2__content-up {
            margin-right: 0px;
        }
    }           
}

@media (max-width: 1147px) {
    .layout {
        min-height: 1196px
    }

    .additional {
        min-height: 970px;;
    }
}

@media (max-width: 1000px) {
    .brands {
        min-height: 232px;
    }
}


@media (max-width: 938px) {
    .menu {
        .container_menu {
            .menu__nav {
                display: none;
            }
            .menu__burger {
                display: block;

                @include size(30px, 30px)
            }
        }
    }
}

@media (max-width: 858px) {
    .section1 {
        min-height: 800px;
    
        .container_section1 {
            .section1__content {
                text-align: center;
    
                display: flex;
                justify-content: center;
    
                flex-wrap: wrap;
                row-gap: 55px;
            }
        }
    }                
}

@media (max-width: 856px) {
    .section2 {
        text-align: center;
        min-height: 1260px;
            .section2__content-up {
                margin-right: 58px;    
                    display: flex;
                    justify-content: center;    
                }  
                
                .section2__content-down {           
                    display: flex;
                    justify-content: center;
                    
                    .section2__content-down-text {
                        text-align: center;
                    }
                } 
            }
            
}

@media (max-width:768px) {
    .layout {
        min-height: 1547px
    }

}

@media (max-width:767px) {
    .layout {
        min-height: 1547px
    }

}

@media (max-width: 595px) {
    .additional {
        min-height: 1310px;;
    }

    .section2 {
        text-align: center;
        min-height: 1260px;
            .section2__content-up {
                    margin-right: 0px;   
                }  
            }
}


@media (max-width: 571px) {
    .additional {
        min-height: 1665px;;
    }
}

@media (max-width: 552px) {
    .brands {
        min-height: 322px;
    }
}

@media (max-width: 548px) {
    .section1 { 
        .container_section1 {
            .section1__content {
                .section1__content-left {
                    .section1__content-left-title {
                        font-size: 38px;
                    }
        
                    .section1__content-left-subtitle {
                        font-size: 16px;
                    
                    }
                }
            }
        }
    }                
}

@media (max-width: 538px) {
    .section1 { 
        .container_section1 {
            .section1__content {
                .section1__content-left {
                    .section1__content-left-title {
                        font-size: 35px;
                    }
        
                    .section1__content-left-subtitle {
                        font-size: 13px;
                    
                    }
                }
            }
        }
    }                
}

@media (max-width: 497px) {
    .section1 { 
        .container_section1 {
            .section1__content {
                .section1__content-left {
                    .section1__content-left-title {
                        font-size: 32px;
                    }
                }
            }
        }                
    }
}

@media (max-width: 459px) {
    .section1 {
        min-height: 850px;
    }
}

@media (max-width: 425px) {
    .section2 {
        min-height: 1290px;
    }
}

@media (max-width: 396px) {
    .section1 {
        .container_section1 {
            .section1__content {
                .section1__content-left-button {
                    padding-bottom: 50px 
                }
            }
        }
    }
}

@media (max-width:379px) {
    .brands {
        min-height: 398px;
    }
    .section2 {
        min-height: 1308px;
    }
}

@media (max-width:384px) {
    .layout {
        min-height: 1570px
    }
}

@media (max-width:350px) {
    .section2 {
        min-height: 1328px;
    }
}

@media (max-width:331px) {
    .section1 {
        min-height: 860px;
    }
    .layout {
        min-height: 1595px
    }
}

@media (max-width:325px) {
    .section2 {
        min-height: 1346px;
    }
}


@media (max-width:321px) {
    .layout {
        min-height: 1625px
    }
}